body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url('/img/image.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login-box {
    width: 400px;
    height: 420px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, .6);
    justify-content: center;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    position: absolute;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: calc(50% - 50px);
}

h1 {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p {
    margin-left: 160px;
    padding: 0;
    font-weight: bold;
}

.login-box input {
    margin-left: 100px;
    width: 50%;
    margin-bottom: 0;
}

.login-box input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    outline: none;
    margin-top: -5px;
    color: #fff;
    height: 40px;
    font-size: 16px;
    justify-content: center;
}

.login-box input[type="submit"] {
    width: 50%;
    height: 30px;
    position: absolute;
    left: 0px;
    margin-top: 20px;
    color: white;
    background-color: blue;
    border-radius: 50px;
    border: none;
    outline: none;
}

a {
    position: absolute;
    bottom: 50px;
    left: 135px;
    color: whitesmoke;
}

.login-box input[type="submit"]:hover {
    background-color: rgb(0, 6, 88);
    cursor: pointer;
}

a:hover {
    color: rgb(0, 6, 88);
    cursor: pointer;
}